{{!  Login Page - First View }}  
<!DOCTYPE html>
<html lang="en">
<head>
  {{! Basic Meta Tags }}  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <title>Login</title>
</head>
<body>
    {{! Call post method for form to connect to login route }}  
    <form action="/loginSubmit" method="POST">
      <div>
        {{#if messages.error}}
		    <p class="err-msg">{{messages.error}}</p>
		    {{/if }}
        <h1>PhotoShare App</h1>
        <h2>Login</h1>
      </div>
        {{! error messages will appear in div if incorrect username or password %> }}
      <div class="form-group">
       <label for="email">Email</label>
       <input type="email" id="email" name="email" placeholder="Enter your email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
      </div>
      <div>
        <input type="submit" value="Login">
      </div>
      <div class="changeForm">
        <p>Don't have an account - Register below!</p>
      </div>
      <div>
        <a class="link" href="/register">Register</a>
      </div>
    </form>
</body>
</html>
